.info-nav {
  display: flex;
  justify-content: space-between;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 33%;
    border-bottom: 2px solid #e5e5ec;
  }
}

.title {
  margin: 60px 5% 20px;
  font-weight: 600;
  font-size: calc(17px + 0.5vw);
}

.news-box {
  display: block;
  width: 100%;
  aspect-ratio: 5/4.5;
  border-radius: 10px;
  border: 1px solid #cacad7;
  overflow: hidden;
  margin-bottom: 30px;

  .img-box {
    width: 100%;
    height: 56%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .news-title {
    margin: 5% 5% 4%;
    font-weight: 500;
    font-size: calc(16px + 0.5vw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news-description {
    margin: 0 5%;
    font-size: calc(13px + 0.5vw);
    color: #767676;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
  }
}
