.intro-nav {
  display: flex;
  justify-content: space-between;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 50%;
    border-bottom: 2px solid #e5e5ec;
  }
}

.title {
  margin: 50px 0;
  font-weight: 600;
  font-size: calc(17px + 0.5vw);
  text-align: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: calc(12.5px + 0.5vw);
    margin-bottom: 10px;
  }

  div {
    font-size: calc(12.5px + 0.5vw);
    color: #767676;
    margin: 3px 7%;
    text-align: justify;
    line-height: 1.3;
  }
}

.bottom-container {
  margin: 30px 7%;

  .bottom-title {
    margin: 20px 0 10px;
    font-size: calc(15px + 0.5vw);
    font-weight: 600;
  }

  div {
    font-size: calc(12.5px + 0.5vw);
    color: #767676;
    text-align: justify;
    line-height: 1.3;
  }

  p {
    font-size: calc(12.5px + 0.5vw);
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 3px;
  }
}

.map-container {
  padding: 0 5%;
  margin-top: 40px;

  .map-title {
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5ec;
  }

  .map-box {
    display: flex;
    align-items: center;
    margin: 10px 0;

    p,
    div {
      font-size: calc(13px + 0.5vw);
    }

    .left {
      width: 25%;
      color: #767676;
    }
  }
}
