.img-container {
  padding: 80px 15%;
  display: flex;
  flex-direction: column;

  p {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .img-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      width: 32%;
    }
  }
}

.main-container {
  padding: 30px 15%;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 60%;
  .title {
    font-size: 30px;
    margin: 40px 0 20px;
  }

  .sales-box {
    width: 100%;
    border-bottom: 1px solid rgb(215, 215, 215);
    display: flex;
    padding: 20px 0;
  }

  #top p {
    color: #4b79ee;
  }

  .sales-title {
    margin-right: 30%;
    font-size: 16px;
  }
}

.detail-box {
  width: 100%;
  border-bottom: 1px solid rgb(215, 215, 215);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;

  .detail-title {
    margin-right: 20%;
  }

  .slider {
    width: 40%;
    height: 10px;
    background-color: #e5e5ec;
    display: flex;

    .slider-color {
      height: 100%;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.right-container {
  width: 35%;
}

.detail-description {
  margin-top: 80px;
  div {
    width: 100%;
    padding: 30px;
    background-color: #f7f7fb;
  }
}

.right-top {
  width: 90%;
  padding: 20px;

  margin-left: 10%;
  border: 1px solid rgb(215, 215, 215);

  .num {
    color: #767676;
    margin: 15px 0;
  }

  .title {
    font-size: 24px;
    /* width: 80%; */
    font-weight: 600;
  }

  .location {
    margin: 20px 0;
  }
  .location p {
    color: #767676;
  }
}

.price-container {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  div {
    background-color: #f1f1f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
}

.profile-container {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #767676;
    margin: 20px;
  }

  button {
    background-color: #4b79ee;
    color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}

.right-bottom {
  display: none;
  margin: 80px 0;
  padding: 10%;
  width: 100%;
  border: 1px solid rgb(183, 183, 183);

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 10px;
  }

  textarea {
    all: unset;
    border: 1px solid #cacad7;
    width: 100%;
    border-radius: 5px;
    color: gray;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
    border: 1px solid #cacad7;
    border-radius: 5px;
    padding: 10px 15px;
  }

  img:hover {
    cursor: pointer;
  }
}

.tel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 30%;
  }
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  button {
    background-color: #4b79ee;
    color: white;
    padding: 10px 50px;
    margin: 50px 0 0;
    border-radius: 20px;
  }
}
